<nav class="navbar navbar-expand-lg navbar-dark bg-dark center">
    <a class="navbar-brand heading" href="/">Anime Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse minaFont" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="{% if active == 'catalog' %} active {% endif %}nav-item">
                <a class="nav-link" href="/catalog/">Catalog {% if active == 'catalog' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="{% if active == 'add' %} active {% endif %}nav-item">
                    <a class="nav-link" href="/add/">Add Anime {% if active == 'add' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            <li class="{% if active == 'edit' %} active {% endif %}nav-item">
                    <a class="nav-link" href="/edit/">Edit Anime {% if active == 'edit' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            <li class="{% if active == 'delete' %} active {% endif %}nav-item">
                    <a class="nav-link" href="/delete/">Delete Anime {% if active == 'delete' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% else %}
            <li class="{% if active == 'wut' %} active {% endif %}nav-item">
                <a class="nav-link" href="/delete/">JPJW Anime {% if active == 'wut' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Resources
                </a>
                <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" target="_blank" href="http://myanimelist.net">MyAnimeList</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="http://masterani.me">Master Anime</a>
                </div>
            </li>
            <li class="{% if active == 'login' %} active {% endif %}nav-item">
                <a class="nav-link" href="/accounts/login/">Login {% if active == 'login' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            <li class="{% if active == 'signup' %} active {% endif %}nav-item">
                    <a class="nav-link disabled" href="#">Sign Up {% if active == 'signup' %} <span class="sr-only">(current)</span> {% endif %}</a>
                </li>
        </ul>
    </div>
</nav>