<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark center">
    <a class="navbar-brand heading" href="/">Anime Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse minaFont" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="{% if active == 'catalog' %} active {% endif %}nav-item">
                <a class="nav-link" href="{% url 'catalog' %}">Catalog {% if active == 'catalog' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="{% if active == 'admin' or active == 'add' or active == 'edit' or active == 'delete' %} active {% endif %}nav-item">
                <a class="nav-link" href="{% url 'admin_settings' %}">Admin Options {% if active == 'admin' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% if active == 'add' %}
            <li class="{% if active == 'add' %} active {% endif %}nav-item">
                    <a class="nav-link" href="#">Add Anime {% if active == 'add' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% endif %}
            {% if active == 'edit' %}
            <li class="active nav-item">
                    <a class="nav-link" href="#">Edit Anime<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            {% if active == 'delete' %}
            <li class="active nav-item">
                    <a class="nav-link" href="#">Delete Anime<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Resources
                </a>
                <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" target="_blank" href="http://myanimelist.net">MyAnimeList</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="http://masterani.me">Master Anime</a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <li class="{% if active == 'signup' %} active {% endif %}nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout {% if active == 'logout' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% else %}
            <li class="{% if active == 'login' %} active {% endif %}nav-item">
                <a class="nav-link" href="{% url 'login'%}">Login {% if active == 'login' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>