{% extends 'animes/base.html' %}
{% load staticfiles %}

{% block title %}
- Add Anime
{% endblock %}

{% block navbar %}
{% include "navbar.html" with active='add' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="content-heading">Add Anime</h2>
    </div>
</div>
<div class="row w">
    <form method = "POST">
    	{% csrf_token %}
    	{{ add_form.as_p }}

    	<button type = "submit" value = "submit" class = "btn btn-primary">Submit Anime</button>
    	<a href="/adminsettings/"><div class = "btn btn-danger">Cancel</div></a>
    </form>
</div>
{% endblock  %}