{% extends 'animes/base.html' %}
{% load staticfiles %}

{% block title %}
- Admin Options
{% endblock %}

{% block navbar %}
{% include "navbar.html" with active='admin' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="content-heading">Admin Options</h2>
    </div>
</div>
<div class="row">
    <a href="/catalog/add/">
        <div class="btn btn-primary">Add New Anime</div>
    </a>
    {% if data > 0 %}
    <a href="#" class="disabled">
        <div class="btn btn-warning">Database already loaded</div>
    </a>
    {% else %}
    <a href="/data/refresh/">
        <div class="btn btn-primary">Load Database</div>
    </a>
    {% endif %}
    {% if data > 0 %}
    <a href="/data/images">
        <div class="btn btn-primary">Load Database Images</div>
    </a>
    {% else %}
    <a href="#" class="disabled">
        <div class="btn btn-warning">Database Empty</div>
    </a>
    {% endif %}
    <a href="/data/clear/">
        <div class="btn btn-primary">Clear Database</div>
    </a>
    <a href="/table/">
        <div class="btn btn-primary">View CSV File</div>
    </a>
</div>
{% endblock  %}