{% extends 'animes/base.html' %}
{% load staticfiles %}

{% block title %}
- Catalog
{% endblock %}

{% block navbar %}
{% include "navbar.html" with active='catalog' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="content-heading">Anime Catalog</h2>
    </div>
</div>
<br>
<br>
<div class="row sticky-top" id="catalogMenu">
    {% if animes and animes.0 != -1 %}
    <ul class="sortList minaFont d-none d-lg-block">
        <li><h4>Sort By:</h4></li>
        <a href="/catalog/" class="sortButton">
            <li class="sortButton btn btn-primary">Date Added</li>
        </a>
        <a href="/catalog/sort/name/">
            <li class="sortButton btn btn-primary">Name</li>
        </a>
        <a href="/catalog/sort/type/">
            <li class="sortButton btn btn-primary">Type</li>
        </a>
        <a href="/catalog/sort/episodes/">
            <li class="sortButton btn btn-primary">Episodes</li>
        </a>
        <a href="/catalog/sort/members/">
            <li class="sortButton btn btn-primary">Members</li>
        </a>
        <a href="/catalog/sort/rating/">
            <li class="sortButton btn btn-primary">Rating</li>
        </a>
    </ul>
    <form action="/catalog/search/" id="searchForm">
        <div class="row">
            <input type="text" id="searchBar" name="searchBar" placeholder="Search Animes...">
            <button class="btn btn-primary center">Search</button>
        </div>
    </form>
    {% elif animes.0 == -1 %}
    <div class="col-md-6 w">
        <div class="row-md-12 text-center">
            <h1>No results.</h1>
            <p>Sorry, there were no anime found with "{{animes.1}}" in the name.<br>Try another keyword?</p> 
        </div>
        <br> <hr>
        <div class="row-md-12">
            <form action="/catalog/search/" placeholder = "Search Animes...">
                <input type="text" id="searchBar" class = "form-control" name="searchBar" placeholder="Search Animes..."> <br>
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary center" type = "submit" value = "submit">Search</button>
                    <button class = "btn btn-danger center" type = "reset" value = "reset">Cancel</button>
                    <a href="/catalog/"><button class = "btn btn-info center">Back to home </button></a> <br> <br>
                    <img class = "width500" src = "{% static 'img/anime404.jpg' %}" alt="404 Pic not found... Error 404 inception :(">
                </div>
            </form>
        </div> <br>
    </div>    
    {% else %}
    <p class="minaFont heading">There are currently no animes to show.<br>If you are an administrator, view your Admin Options to load the database.</p>
    {% endif %}
</div>
{% if animes and animes.0 != -1 %}
<br>
<div class="card-deck">
    {% for anime in animes %}
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-5">
        <div class="card animeCard minaFont">
            <a href="/catalog/anime/{{anime.id}}" class="nolink">
                {% if anime.photoCover %}
                <img class="card-img-top img-fluid" src="{{anime.photoCover}}" alt="{{anime.name}} image failed to load">
                {% else %}
                <img class="card-img-top img-fluid" src="{% static 'img/noPhoto.png' %}" alt="No photo available">
                {% endif %}
                <div class="card-body nolink">
                    <h5 class="card-title">{{anime.name}}</h5>
                    <p class="card-text">{{anime.animeType}}</p>
                </div>
            </a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{anime.id}}-modal">More Details</button>
            <div class="modal fade" id="{{anime.id}}-modal" tabindex="-1" role="dialog">
                <br><br>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{anime.name}}</h4>
                        </div>
                        <div class="modal-body">
                            {% if anime.photoCover %}
                            <img class="card-img-top img-fluid" src="{{anime.photoCover}}" alt="{{anime.name}} image failed to load">
                            {% else %}
                            <img class="card-img-top img-fluid" src="{% static 'img/noPhoto.png' %}" alt="No photo available">
                            {% endif %}
                            <p>Type: {{anime.animeType}}</p>
                            <p>Genre(s): {{anime.genre}}</p>
                            <p>No. of Episodes: 
                                {% if anime.episodes < 0 %}
                                Unknown
                                {% else %}
                                {{anime.episodes}}
                                {% endif %}
                            </p>
                            <p>No. of Members: 
                                {% if anime.members < 0 %}
                                Unknown
                                {% else %}
                                {{anime.members}}
                                {% endif %}
                            </p>
                            <p>Overall Rating: 
                                {% if anime.rating < 0 %}
                                Unknown
                                {% else %}
                                {{anime.rating}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}