{% extends 'animes/base.html' %}
{% load staticfiles %}

{% block title %}
- Catalog
{% endblock %}

{% block navbar %}
{% include "navbar.html" with active='catalog' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="content-heading">Anime Catalog</h2>
    </div>
</div>
<br>
<br>
<div class="row sticky-top" id="catalogMenu">
    {% if animes %}
    <ul class="sortList minaFont d-none d-lg-block">
        <li><h4>Sort By:</h4></li>
        <a href="/catalog/" class="sortButton">
            <li class="sortButton btn btn-primary">Date Added</li>
        </a>
        <a href="/catalog/sort/name/">
            <li class="sortButton btn btn-primary">Name</li>
        </a>
        <a href="/catalog/sort/type/">
            <li class="sortButton btn btn-primary">Type</li>
        </a>
        <a href="/catalog/sort/episodes/">
            <li class="sortButton btn btn-primary">Episodes</li>
        </a>
        <a href="/catalog/sort/members/">
            <li class="sortButton btn btn-primary">Members</li>
        </a>
        <a href="/catalog/sort/rating/">
            <li class="sortButton btn btn-primary">Rating</li>
        </a>
    </ul>
    <form action="" id="searchForm">
        <div class="row">
            <input type="text" id="searchBar" name="searchBar" placeholder="Search Animes...">
            <button class="btn btn-primary center">Search</button>
        </div>
    </form>
    {% else %}
    <p class="minaFont heading">There are currently no animes in the database.<br>If you are an administrator, view your admin settings to load the database.</p>
    {% endif %}
</div>
<br>
<div class="card-deck">
    {% for anime in animes %}
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-5">
        <div class="card minaFont">
            <a href="/catalog/anime/{{anime.id}}" class="nolink">
                {% if anime.photoCover %}
                <img class="card-img-top img-fluid" src="{{anime.photoCover}}" alt="{{anime.name}} image failed to load">
                {% else %}
                <img class="card-img-top img-fluid" src="{% static 'img/noPhoto.png' %}" alt="No photo available">
                {% endif %}
                <div class="card-body nolink">
                    <h5 class="card-title">{{anime.name}}</h5>
                    <p class="card-text">{{anime.animeType}}</p>
                </div>
            </a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{anime.id}}-modal">More Details</button>
            <div class="modal fade" id="{{anime.id}}-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{anime.name}}</h4>
                        </div>
                        <div class="modal-body">
                            {% if anime.photoCover %}
                            <img class="card-img-top img-fluid" src="{{anime.photoCover}}" alt="{{anime.name}} image failed to load">
                            {% else %}
                            <img class="card-img-top img-fluid" src="{% static 'img/noPhoto.png' %}" alt="No photo available">
                            {% endif %}
                            <p>Type: {{anime.animeType}}</p>
                            <p>Genre(s): {{anime.genre}}</p>
                            <p>No. of Episodes: 
                                {% if anime.episodes < 0 %}
                                Unknown
                                {% else %}
                                {{anime.episodes}}
                                {% endif %}
                            </p>
                            <p>No. of Members: 
                                {% if anime.members < 0 %}
                                Unknown
                                {% else %}
                                {{anime.members}}
                                {% endif %}
                            </p>
                            <p>Overall Rating: 
                                {% if anime.rating < 0 %}
                                Unknown
                                {% else %}
                                {{anime.rating}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}