{% extends 'animes/base.html' %}
{% load staticfiles %}

{% block title %}
- Edit Anime
{% endblock %}

{% block navbar %}
{% include "navbar.html" with active='edit' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="content-heading">Edit Anime</h2>
    </div>
</div>

<div class="row w">
    <form method = "POST">
  		{% csrf_token %}
    	{{ update_form.as_p }}

    	<button type = "submit" class = "btn btn-primary">Update</button>
    	<button type = "reset" value = "reset" class = "btn btn-caution">Cancel</button>
    </form>
</div>
{% endblock %}

