{% extends 'animes/base.html' %}
{% load staticfiles %}

{% block title %}
- Home
{% endblock %}

{% block navbar %}
{% include "navbar.html" with active='home' %}
{% endblock %}

{% block content %}
<div class="row">
    <h2 class="content-heading">Welcome to Anime Manager</h2>
</div>
<br>
<br>
<br>
<div class="row">
    <p class="heading">Enjoy browsing a large database of over 12000 animes of a wide variety.</p>
</div>
<div class="row">
    <a href="/catalog/" class="bg_blue"><div class="btn btn-primary f100 center">Enter Site</div></a>
</div>
{% endblock %}