{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="{% static 'img/noPhoto.jpg' %}" alt="1" class="rg_ic">
    <img src="{% static 'img/noPhoto.jpg' %}" alt="2" class="rg_ic">
    <img src="{% static 'img/noPhoto.jpg' %}" alt="3" class="rg_ic">
    <img src="{% static 'img/noPhoto.jpg' %}" alt="4" class="rg_ic">
    <img src="{% static 'img/noPhoto.jpg' %}" alt="5" class="rg_ic">
    <img src="{% static 'img/noePhoto.jpg' %}" alt="" id="pic">
</body>
</html>